@import url("./variables.css");

.side-bar{
  margin-left: 50px;
  flex-grow: 1;
}

.side-bar-article{
  background-color: var(--primary-background-color);
  padding: 15px;
  box-shadow: 9px 11px 8px 0px rgba(34, 60, 80, 0.2);
}

.side-bar-article + .side-bar-article{
  margin-top: 45px;
}

.sidebar-article-title{
  text-align: center;
  border: 2px solid var(--box-shadow-main-color);
  box-shadow: 2px 4px 1px 0px var(--box-shadow-main-color);
  padding: 20px 0;
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: 2px;
  margin-bottom: 35px;
}

.counter{
  color: var(--primary-border-color);
  margin-left: 10px;
}

.categories-list{
  margin-top: 20px;
}

.category-list-item{
  margin-left: 15px;
  position: relative;
  line-height: 1.5;
  padding: 10px 0 10px 10px;
}

.category-list-item + .category-list-item{
  border-top: 1px solid var(--primary-border-color);
}

.category-list-item::before{
  content: ">";
  color: var(--primary-border-color);
  position: absolute;
  left: -12px;
}

.last-writes-list{
  margin-top: 20px;
}

.last-writes-list-item{
  position: relative;
}

.last-writes-list-item + .last-writes-list-item{
  margin-top: 15px;
}

.image-title{
  position: absolute;
  top: 0;
  left: calc(var(--small-image-width) + 15px);
}

.decreased-image{
  width: var(--small-image-width);
  height: calc(var(--small-image-width) - 50px);
}

.subscribe-form{
  position: relative;
  margin-top: 15px;
}

.send-message{
  padding-top: 5px;
  width: 40px;
  height: 40px;
  text-align: center;
  position: absolute;
  right: 0;
  bottom: 0;
  transition: all 1s ease-in-out;
}


input[type="email"]{
  width: 100%;
  padding: 10px 5px;
  border: 1px solid var(--primary-border-color);
}

input[type="email"]:focus + .send-message{
  background-color: var(--active-icon-color);
}

.send-message-image{
  fill: rgba(255, 0, 0, 0.7);
  transition: all 3s ease-in-out;
}

input[type="email"]:focus + .send-message .send-message-image{
  fill: var(--primary-background-color);
}


@media (max-width: 954px){
  .side-bar{
    margin-left: 0;
  }
}