@import url("./variables.css");

.main-footer{
  background-color: rgb(60,61,65);
  margin-top: 20px;
}

.footer-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-background-color);
  padding: 30px 0;
}

.footer-social-list{
  display: flex;
}

.footer-social-list-item + .footer-social-list-item{
  margin-left: 20px;
}

.footer-social-image{
  width: 26px;
  height: 26px;
}

.footer-social-image-fill{
  fill: var(--primary-background-color);
}

.write-letter a{
  text-decoration: none;
  color: var(--primary-background-color);
}

@media (max-width:480px){
  .footer-content{
    flex-direction: column;
    align-items:center;
  }

  .footer-social-list{
    margin: 10px 0;
  }
}