.top-header{
  background-color: white;
  padding: 15px 0;
  border-bottom: 1px solid lightgrey;
  box-shadow: 0px 1px 5px 0px rgba(34, 60, 80, 0.2);
  position: fixed;
  min-width: 100%;
  min-height: 70px;
  z-index: 2;
}

.wrapper{
  max-width: 1200px;
  margin: 0 auto;
}

.header-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
}

.header-logo-letter{
  background-color: orange;
  color: white;
  text-shadow: 2px 2px 2px rgba(21, 21, 21, 1);
  padding: 3px;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  line-height: 1.8rem;
}

.header-logo-letter:nth-child(2n + 1){
  background-color: red;
}

.header-logo-letter + .header-logo-letter{
  margin-left: 2px;
}

/*custom checkbox*/
.hidden-input, .checkbox-wrapper{
  display: none;
}

.custom-checkbox{
  display: none;
}

.header-nav-menu{
  display:flex;
}

.header-nav-menu-list-item a{
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

.header-nav-menu-list-item + .header-nav-menu-list-item{
  margin-left: 15px;
}

.search-form{
  position: relative;
}

.search-icon-wrapper{
  position: absolute;
  top: 8px;
  right: 0;
  z-index: 1;
}

.search-button{
  outline: none;
  border: none;
  padding: 8px 5px;
  position: relative;
}

.search-button:hover{
  border: 1px solid rgba(245, 230, 230, 0.8);
}

.search-button::-webkit-input-placeholder{
  color: rgba(100,100,100, 0.75);
}

.search-button::after{
  content: "";
  width: 25px;
  height: 25px;
  background-color: crimson;
  position: absolute;
}

@media (max-width: 954px){
  .nav-menu{
    order: 3;
  }

  .header-nav-menu{
    display: none;
  }

  .checkbox-wrapper{
    display: block;
  }

  input[type="checkbox"]:checked + .header-nav-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 45px;
    left: 0;
    right: 0;
    background-color: white;
  }

  .header-nav-menu-list-item{
    width: 100%;
    text-align: center;
  }

  .header-nav-menu-list-item > a{
    padding: 10px 0;
    display: block;
    transition: 1s all ease-in-out;
  }

  .header-nav-menu-list-item > a:hover{
    background-color: black;
    color: white;
  }

  .header-nav-menu-list-item + .header-nav-menu-list-item{
    border-top: 1px solid teal;
    
  }
}

@media (max-width: 381px){
  .top-header{
    background-color: crimson;
  }

  .header-logo{
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
  }

  input[type="checkbox"]:checked + .header-nav-menu{
    top: 74px;
  }
}