@import url("./variables.css");

.main-content-wrapper{
  background-color: rgb(247, 247, 247);
  padding-top: 60px;
}

.main-content{
  display: flex;
  padding-top: 20px;
  justify-content: space-between;
  min-height: 75vh;
}

.articles{
  /*flex-basis: 830px; ? Почему это не работает*/
  max-width: 700px;
  overflow: hidden;
}

.main-content-article + .main-content-article{
  margin-top: 50px;
}

.article-image{
  width: 100%;
}
  

.category-style{
  color: var(--box-shadow-main-color);
  text-transform: uppercase;
  margin: 20px 0;
}

.article-title{
  color: rgb(22, 22, 22);
  text-transform: capitalize;
  font-size: 1.8rem;
  font-family: "Times New Roman", serif;
  margin-bottom: 10px;
}

.content-paragraph{
  text-align: left;
  line-height: 1.5em;
}

.content-paragraph + .content-paragraph{
  margin-top: 10px;
}

.article-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  border-top: 1px solid var(--primary-border-color);
  border-bottom: 1px solid var(--primary-border-color);
  padding: 4px 0;
}

.read-more{
  text-decoration: none;
  text-transform: uppercase;
  background-color: rgb(60,61,65);
  color: var(--primary-background-color);
  font-size: 0.8rem;
  padding: 13px 13px 11px 13px;
  clip-path: polygon(0% 0%, 89% 0, 100% 50%, 90% 100%, 0% 100%);
}

.social-icon-list{
  display: flex;
}

.social-icon-list-item{
  border: 1px solid var(--box-shadow-main-color);
  padding: 5px;
  border-radius: 50%;
}

.social-icon-list-item + .social-icon-list-item{
  margin-left: 10px;
}

@media (max-width: 954px){
  .main-content{
    flex-direction: column;
  }

  .articles{
    max-width: 100%;
  }
}

@media (max-width: 480px){
  .article-footer{
    flex-direction: column;
    padding-top: 10px;
    border: none;
  }

  .social-icon-list{
    margin: 20px 0 15px 0;
  }
}

@media (max-width: 381px){
  .main-content-wrapper{
    padding-top: 70px;
  }
}